USE [master]
GO
/****** Object:  Database [ArtistInfo]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE DATABASE [ArtistInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArtistInfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ArtistInfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArtistInfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ArtistInfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArtistInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArtistInfo]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistID] [int] NOT NULL,
	[ArtistName] [varchar](50) NOT NULL,
	[ManagerID] [int] NOT NULL,
	[YearFormed] [varchar](4) NULL,
	[GenreID] [int] NOT NULL,
	[Active] [varchar](10) NULL,
	[ProducerID] [int] NOT NULL,
	[EngineerID] [int] NOT NULL,
	[NumberGrammyWins] [varchar](3) NULL,
	[NetWorth] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BandMember]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BandMember](
	[MemberID] [int] NOT NULL,
	[ArtistID] [int] NOT NULL,
	[FName] [varchar](20) NOT NULL,
	[LName] [varchar](30) NOT NULL,
	[Instrument] [varchar](50) NULL,
	[Living] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] NOT NULL,
	[GenreName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveEngineer]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveEngineer](
	[EngineerID] [int] NOT NULL,
	[FName] [varchar](20) NOT NULL,
	[LName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EngineerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerID] [int] NOT NULL,
	[FName] [varchar](20) NOT NULL,
	[LName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 2/23/2019 10:54:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerID] [int] NOT NULL,
	[FName] [varchar](20) NOT NULL,
	[LName] [varchar](30) NOT NULL,
	[GenreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_Engineer]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Engineer] ON [dbo].[Artist]
(
	[EngineerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Genre]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Genre] ON [dbo].[Artist]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Manager]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Manager] ON [dbo].[Artist]
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Producer]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Producer] ON [dbo].[Artist]
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Artist]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Artist] ON [dbo].[BandMember]
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Genre]    Script Date: 2/23/2019 10:54:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_Genre] ON [dbo].[Producer]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Engineer] FOREIGN KEY([EngineerID])
REFERENCES [dbo].[LiveEngineer] ([EngineerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Engineer]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Genre] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Genre]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Manager] ([ManagerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Manager]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Producer] FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producer] ([ProducerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Producer]
GO
ALTER TABLE [dbo].[BandMember]  WITH CHECK ADD  CONSTRAINT [FK_Artist] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BandMember] CHECK CONSTRAINT [FK_Artist]
GO
ALTER TABLE [dbo].[Producer]  WITH CHECK ADD  CONSTRAINT [FK_GenreTable] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[Producer] CHECK CONSTRAINT [FK_GenreTable]
GO
USE [master]
GO
